extends layout-admin

block content
    #container
        table(class="table table-hover table-bordered")
            tr
                th(width="200") 主题
                th(width="160") 录入时间
                th 图片地址
                th 介绍
                th(width="50") 查看
                th(width="100") 编辑

            each item in babies
                tr(calss="item-id-#{item._id}")
                    td #{item.title}
                    td #{moment(item.meta.updateAt).format("YYYY-MM-DD hh:mm:ss")}
                    td
                        a(href="#{item.img}" target="_blank")
                            img(src="#{item.img}" height="50")
                    td #{item.summary}
                    td
                        a(href="/detail/#{item._id}") 查看
                    td
                        a(href="/admin/baby/update/#{item._id}" class="btn btn-primary btn-xs") 修改
                        | &nbsp;
                        a(href="javascript:;" data-id="#{item._id}" class="btn btn-danger del btn-xs") 删除
