extends layout-admin

block content
    #container
        table(width="100%")
            tr
                th 主题
                th 录入时间
                th 图片地址
                th 介绍
                th 查看
                th 编辑

            each item in babys
                tr(calss="item-id-#{item._id}")
                    td #{item.title}
                    td #{item.meta.createdAt}
                    td
                        img(src="/#{item.img}")
                    td #{item.summary}
                    td
                        a(href="/detail/#{item._id}") 查看
                    td
                        a(href="/admin/baby/update/#{item._id}") 修改
                         | 
                        a(href="javascript:;" data-id="#{item._id}" class="btn btn-danger del") 删除
