extends layout

block content
    #container
        #content
            div(style='height:1px')
            #works
                .pd5
                    .list_info_i(style='margin-top:5px;')
                        dl.list_info_views
                            dt
                            dd 7416
                            .clear
                        dl.list_info_comment
                            dt
                            dd 5
                            .clear
                        dl.list_info_like
                            dt
                            dd 8
                            .clear
                        dl.works_view
                            dt
                            dd 更新于 #{moment(baby.meta.updateAt).format('YYYY-MM-DD HH:mm:ss')}
                            .clear
                        .clear
                    .clear
                    .article_ct
                        h1 #{baby.title}
                        p #{baby.name}
                        p #{baby.old}
                        p 
                          img(src='#{baby.img}')
                        p #{baby.summary}
                    .clear
            #comment
                .comment_other
                    h4 全部评论: 5条
                ul
                    li(postdata='17470', usdata='20035')
                        .pd5
                            a.avt.fl(target='_blank', href='#')
                                img(src='/images/1.jpg')
                            .comment_content
                                h5
                                    .fl
                                        a.comment_name(href='#') 爱玩
                                        span 2天前
                                    .fr.reply_this [回复]
                                    .clear
                                .comment_p
                                    .comment_pct 太赞了
                            .clear
                            .comment_reply
                .pd5
#us_panel2
    table(width='100%', height='100%', cellspacing='0', border='0')
        tbody
            tr
                td.us_panel_like
                    i
                    span
                        | 喜欢(
                        em 8
                        | )
                td.us_panel_menu
                    .arrow_top
                    i
                    .us_panel_menu_left
                    .us_panel_menu_right
                td.us_panel_post
                    i
                    span
                        | 评论(
                        em 5
                        | )
#add_newpost
    .add_newpost
        table(width='100%', height='100%', cellspacing='5')
            tbody
                tr
                    td.add_newpost_cancel 取消
                    td.add_newpost_post 评论
    .newpost_w
        .pd10
            .newpost_w_t
                textarea