extends layout

block content
    #container
        #content
            #list
                ul
                    each item in babys
                        li
                            .wrap
                                a.alist(href='/detail/#{item._id}')
                                    .list_litpic.fl
                                        img(src='#{item.img}')
                                    .list_info
                                        h4 #{item.title}
                                        h5
                                            | by
                                            span #{item.username}
                                            em (#{moment(item.meta.updateAt).format("YYYY-MM-DD HH:MM:SS")})
                                        .list_info_i
                                            dl.list_info_views
                                                dt
                                                dd 6907
                                                .clear
                                            dl.list_info_comment
                                                dt
                                                dd 5
                                                .clear
                                            dl.list_info_like
                                                dt
                                                dd 8
                                                .clear
                                            .clear
                                    .clear

                .list_loading
                    i
                    span 努力加载中...
        .push_msk
        //-#reg_index
            .reg_bar
                .wrap
                    span.fl
                        i
                        | 注册帐号
                    i.reg_bar_close.fr
                    .clear
            .wrap.reg_ct
                p
                    | 您可以选择以下第三方帐号直接登录uehtml
                    br
                    | 一分钟完成注册
                a#weibo_app(href='#/oauth/weibo/login')
                    span
                        i
                        | 微博帐号登录
                a#qq_connect(href='#/oauth/qq/login')
                    span
                        i
                        | QQ  帐号登录
        .loading_dark
        #loading_mask
            .loading_mask
                ul.anm
                    li
                    li
                    li
                    li
                    li
        #cli_dialog