extends layout-admin

block content
    #container
        table(class="table table-hover table-bordered")
            thead
              tr
                th 名字
                th 时间
                th 查看
                th 修改
                th 删除
            tbody
              each item in users
                tr(class="item-id-#{item._id}")
                  td #{item.name}
                  td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
                  td: a(target="_blank", href="../user/#{item._id}") 查看
                  td: a(target="_blank", href="../user/update/#{item._id}") 修改
                  td
                    if item.role < 20
                      button.btn.btn-danger.btn-xs.del-user(data-id="#{item._id}") 删除